
body {
    background-color: rgb(214, 125, 16);
}
#bx  p{
    background-color: beige;
    

}
.button {
    background-color: rgb(238, 229, 215);
    color: rgb(17, 19, 18);
    border-radius:10px;
    width:70px;
    height:auto;
    padding:3px;
    align-items: center;
    align-content: center;
    margin-left: 50%;
}
.button :hover{
background-color: black;
color: beige;
font-size:1.1em;
width:100px;

}
a:link{
    color:aqua;
    text-decoration: dotted;
    text-align: center;

}
a:hover{
    color:black;
    font-size:1.1em;
}
a:visited{
    color:rgb(93, 93, 112);
}
#bx p{
    display: none;
}
#bx:hover p{
    display: block;
}
.todo{
    display:flex;
    flex-direction: column;
}